@page
@model Softuni_Fest.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="font-size: 300%;">Product Catalog</h2>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary" style="margin-left:70%; margin-top: 2%">Create new product</a>
        </div>

    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width=100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30%">
                    jesus
                </td>
                <td width="40%">
                    CUM FROM MARS
                </td>
                <td width="10%">
                    EDIN I PIDISE
                </td>
            </tr>
            <tr>
                <td width="30%">
                    Tomaa
                </td>
                <td width="40%">
                    seks igrachka
                </td>
                <td width="15%">
                    EDIN I PIDISE
                </td>
            </tr>
        </tbody>
    </table>
</div>
