@page
@using Softuni_Fest.Models
@using System.Globalization
@model Softuni_Fest.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
    CultureInfo bgCulture = new CultureInfo("en-BG");
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="font-size: 300%;">Products Catalog</h2>
            <hr style="width:350px"/>
        </div>
        @if (User.IsInRole(Roles.Business))
        {
            <div class="col-6">
                <a asp-page="Create" class="btn btn-primary" style="margin-left:70%; margin-top: 2%">Create new product</a>
            </div>
        }
    </div>

    <br /> <br />
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th style="text-align: center;">Price</th>
                @if (User.IsInRole(Roles.Business))
                {
                    <th style="text-align: center">Options</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var product in await Model.GetProductsForCurrentUser())
            {
                <tr>
                    <td width="20%">
                        <a class="nav-link" asp-page="/Product" asp-route-productId="@product.Id">@product.ProductName</a>
                    </td>
                    <td width="20%">@((product.ProductPrice / 100m).ToString("C2", bgCulture))</td>
                    @if(User.IsInRole(Roles.Business))
                    {
                        <form id="deleteItemForm" method="post" asp-page-handler="Delete">
                            <td width="20%" style="text-align: center;">
                              <a href="#" onclick="deleteItem()" class="btn btn-danger">Delete</a>
                            </td>
                        </form>
                    }
                </tr>
            }
        </tbody>
    </table>

    <script src="~/js/catalog.js"></script>
</div>

