@page
@model Softuni_Fest.Pages.CatalogModel
@{
    ViewData["Title"] = "Catalog";
}
<form method="post" asp-page="/" class="d-flex">
    <input class="form-control me-sm-2" type="search" asp-for="Term" placeholder="Search">
    <button class="btn my-2 my-sm-0" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            </button>
            </form>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary" style="font-size: 300%;">Product Catalog</h2>
        </div>
        <div class="col-6">
            <a asp-page="Create" class="btn btn-primary" style="margin-left:70%; margin-top: 2%">Create new product</a>
        </div>
        @foreach(var item in Model.Products)
        {
            <p>@item.ProductPrice</p>
        }@foreach (var item in Model.Users)
        {
            <p>@item.UserName</p>
        }
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width=100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30%">
                    jesus
                </td>
                <td width="40%">
                    CUM FROM MARS
                </td>
                <td width="10%">
                    EDIN I PIDISE
                </td>
            </tr>
            <tr>
                <td width="30%">
                    Tomaa
                </td>
                <td width="40%">
                    seks igrachka
                </td>
                <td width="15%">
                    EDIN I PIDISE
                </td>
            </tr>
        </tbody>
    </table>
</div>
