@page
@model Softuni_Fest.Pages.createModel
@{
    <form method="post" style="width:600px; margin-left:30%">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3" style="font-size:250%">Create product</h2>
                <hr style="width: 600px"/>
            </div>
            <div class="form-floating">
                <input class="form-control" aria-required="true" type="text"/>
                <label class="form-label">Name</label>
                
            </div>
            <br/>
            <div class="form-floating">
                <input class="form-control" aria-required="true" type="text"/>
                <label class="form-label">Description</label>

            </div>
            <br/>
            <div class="form-floating">
                <input class="form-control" aria-required="true" type="text" />
                <label class="form-label">Price</label>

            </div>
            <br/>
            <button type="submit" class="btn btn-primary" style="width: 150px;">Create</button>
        </div>
    </form>
}
