@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="text-centered">PaySec Solutions </h1>
</div>
      <!--TODO description of everything...-->
