@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaySec Solutions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
 
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <header class="text-center" style="margin-top: 20px">
        <h1>Welcome to <span style="color: #158cba;">PaySec</span> <span style="color: #278af9">Solutions</span></h1>
        <p class="lead">Payment Service Solution for SoftUni Software Fest 2023</p>
    </header>
    <hr/>
    <br/>
    <main class="container mt-4">
        <section>
            <h2 style="color: #278af9">About PaySec Solutions</h2>
            <p>
                PaySec Solutions is a payment platform designed to facilitate online transactions between businesses and their clients. Our system streamlines the payment process, ensuring a seamless and secure experience for both businesses and customers.
            </p>
            <p>
                Whether you're a business looking to integrate a reliable payment solution or a customer seeking convenient and secure transactions, PaySec Solutions has you covered.
            </p>
        </section>

        <section>
            <h2 style="color: #278af9">Features</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Business Version</h5>
                            <p class="card-text">Register your business and manage your offered products/services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Customer Version</h5>
                            <p class="card-text">Register as a customer and find merchants easily.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Stripe Integration</h5>
                    <p class="card-text">Purchase goods/services securely using the Stripe platform.</p>
                </div>
            </div>
        </section>

        <section>
            <h2 style="color: #278af9">Technologies Used</h2>
            <p>Our application is built using a mix of different technologies, including but not limited to:</p>
            <ul>
                <li>C# (Asp.Net Core - Razor Pages), HTML, CSS and JavaScript</li>
                <li>Type of application - web</li>
                <li>Stripe</li>

            </ul>
        </section>

        <section>
            <h2 style="color: #278af9">GitHub Repository</h2>
            <p>For the complete source code and project resources, visit our GitHub repository.</p>
            <a href="https://github.com/ChrisX21/SoftUni-Fest" class="btn btn-dark" target="_blank" style="width: 200px"><i class="bi bi-github" style="font-size: 30px"></i></a>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
