@page
@model TestModel
@{
    ViewData["Title"] = "Test";
}

<h1>This is a test</h1>
<form id="buyForm" class="form-inline" asp-page="/">
    <button id="buy" type="submit" class="nav-link btn btn-link text-dark">Buy</button>
</form>
